@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$black: #231f20;
$red: #BC1C2C;
$purple: #9491BA;
$beige: #EEEEDA;

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background: $beige url('img/bg.png') center right no-repeat;

  .social {
    font-size: 1.5em;

    i.twitter {
      color: #38A1F3;

      &:hover {
        color: darken(#38A1F3, 15%);
      }
    }

    i.facebook {
      color: #3b5998;

      &:hover {
        color: darken(#3b5998, 20%);
      }
    }

    strong {
      font-weight: 600;
      color: $black;
      display: inline-block;

      span {
        color: $red;
      }
    }

    a {
      margin: 0 0.5em 0 0;
      text-decoration: none;

      &:hover {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

.menu {
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  background: linear-gradient(to right, $purple, darken($purple,15%));

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-nav {
    .nav-link {
      padding: 1.2em;
      margin: 0;
      color: white;

      &:focus {
        color: white;
      }

      &:hover {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-decoration: underline;
        color: white !important;
      }
    }

    li.active {
      a {
        font-weight: 700;
        background: darken($purple,15%);
        color: white !important;
      }
    }

    .nav-item {
      padding: 0;
    }

    i {
      margin-left: 8px;
    }

    .dropdown-toggle:after {
      display: none;
    }

    li.show {
      text-decoration: underline;

      a {
        color: white !important;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      background: $purple;
      font-size: 1em;
      padding: 0;
      margin: 0;
      border: 0;

      .dropdown-item {
        font-weight: 400;
        padding: 1.5em;
        margin: 0;
        color: white;
        transition: padding 0.2s;

        &:hover {
          background: darken($purple,5%);
          text-decoration: underline;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
}

.content {
  a {
    color: #000;
    text-decoration: underline;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  h1 {
    color: $black;
    font-size: 3.5em;
    margin-bottom: 1.2em;
    margin-top: 0.5em;
    font-weight: 400;
  }

  h2 {
    color: $purple;
    font-size: 2em;
    margin-bottom: 0.8em;
    margin-top: 1em;
  }

  h3 {
    color: $black;
    font-size: 1.3em;
    margin-bottom: 0.8em;
    margin-top: 1.25em;
  }

  .button{
    background: $purple;
    padding: 1em;
    display: block;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-decoration: underline;
    font-weight: 600;
    transition: background 0.3s;
    &:hover{
      background: darken($purple, 5%);
      color: white;
      text-decoration: underline;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    }
  }

  .program-buttons {
      button {
          border: none;
          background: $red;
          color: white; font-weight: bold;
          transition: 0.2s background ease-in-out;
          &:hover {
              transform: scale(1.02);
              background: lighten($red, 10%);
          }
      }
  }
  .full-program {
      td {border: 1px solid rgba(220, 220, 220, 0.5);}
      .pink { background: #EBABE0;}
      .green { background: #E2EFD9;}
      .blue { background: #DEEAF6;}
      .orange { background: #FBE4D5;}
      .red { background: #EFBFB7;}
      .purple { background: #CCCCFF;}
      .yellow { background: #FFF2CC;}
  }

  .speakers {
    text-align: center;
    h2 {
      text-decoration: underline;
      margin-top: 15px;
      font-size: 1.75em;
      margin-bottom: 15px;
    }
    a {
      text-decoration: none;
      color: #000;

      &:hover {
        color: #000;

        h2 {
          color: darken($purple,10%);
        }
      }
    }

  }

  .main-dates {
    width: 100%;
    tr{
      &:nth-child(odd){
        background: lighten($beige, 5%);
      }
    }
    td {
      padding: 1em;
      text-align: center;
      &:first-child{
        text-align: left;
        font-weight: bold;
      }

    }

    .event strong {
      color: $red;
    }
  }

  .modal-content {
    padding: 2em;
    display: block;
    h2 {
      margin-top: 0 !important;
      margin-bottom: 15px;
    }
    h3 {
      margin-bottom: 25px;
    }

    button {
      background: none;
      border: 0;
      float: right;
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1em;
    }



    p:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  .rego-table {
      th {
          background-color: $beige;
      }
      td {
          border-bottom: 1px solid #e0e0e0;
      }
  }

  .sidebar {
    h2 {
      margin-top: 0;
      font-size: 1.75em;
      color: $black;
    }

    .dates {
      list-style: none;
      padding: 0;

      strong {
        display: block;
      }

      li {
        padding: 1em;

        &:nth-child(odd) {
          background: lighten($beige, 5%);
        }
      }

      .event strong {
        color: $red;
      }
    }
  }
}

.faqs {
  margin-top: 2em;

  .card {
    background: none;
    padding: 0;
    border: 0;
    margin-bottom: 1em;
    border-radius: 0;
  }

  .card-body {
    padding: 2em;
    font-size: 1em;
    background: lighten($beige, 9%);
    h3:first-child{
      margin-top: 0;
    }
    ul ul {
      margin-bottom: 15px;
    }
    li{
      margin-bottom: 7px;
    }
  }

  .card-header {
    cursor: pointer;
    padding: 2em;
    background: none;
    transition: none;
    text-decoration: underline;
    border: 0;
    background: lighten($beige, 5%);
    h2{
      margin: 0;
      padding: 0;
      color: $black;
      font-size: 1.8em;
    }
    &:hover h2 {
      opacity: 0.8;
    }

    i {
      margin: 0 1em 0 0;
      font-size: 0.6em;
      transform: rotate(-180deg);
      transition: transform 0.3s;

    }
  }

  .collapsed i {
    transform: rotate(0deg) !important;
  }
}

.sample {
  padding-top: 10px;
  cursor: pointer;

  img {
    border: solid 1px #999;
  }

  h3 {
    margin: 0 !important;
    color: #000;
    text-decoration: underline;
    strong{
      font-weight: 700;
    }
  }

  &:hover {
    h3 {
      color: #555;
    }

    img {
      border: solid 1px #777;
    }
  }
}

.footer {
  background: lighten($beige, 5%) url("img/bg-footer.png") bottom center repeat-x;

  h3 {
    font-size: 1.75em;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .footer-menu .submenu {
    font-weight: bold;
    list-style: none;
    padding-left: 20px;

    > li {
      margin-bottom: 10px;

      > a {
        color: $black;
      }
    }

    ul {
      font-weight: normal;
      list-style: disc;
      padding: 3px 0 5px 25px;

      li {
        margin-bottom: 7px;
        font-size: 0.9em;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  a {
    color: $red;
    text-decoration: underline;

    &:hover {
      color: darken($red, 10%);
    }
  }
}

.sidebar-sponsors {
    overflow: auto;
    height:400px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: $beige;
    }
    &::-webkit-scrollbar-thumb {
        background: $purple;
    }
}
@media (max-width: 768px) {
  .header {
    background-image: none;
    text-align: center;

    .social {
      margin-left: 25px;
    }

    .association {
      width: 150px;
      margin-left: 35px;
    }
  }
}
